@import url("https://fonts.gstatic.com");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
body{
	font-family: roboto;
    font-size: 18px;

}

h1{
	font-family: roboto;
	font-weight: bold;
	font-size: 60px;
}

a{
	text-decoration: none;

}